ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.button {
	border-radius: 50%;
	cursor: pointer;
  	float: left;
  	width: 21%;
    padding: 9%;
    margin:6%;
}
.nav1 {
	width: auto;
	align: center;
}
.s {
	background-image: url("../imgs/students.jpeg");

}
.f {
	background-image: url("../imgs/faculty.jpeg");
	background-size: 100%;
}
.r {
	background-image: url("../imgs/classrooms1.jpeg");
	background-size: 150%;
}
.button:hover {
	scale: 2x;
}

