<!DOCTYPE html>
<html>

<head>
	<title>what-slot-iiitb</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<!-- BOOTSTRAP -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<!-- JQUERY -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- GOOGLE FONTS -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">


	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>


	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
	<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
	<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

	<div class="App">
		<div class="main-content">

			<nav>
				<div class="logo">
					<img src="{{ url_for('static', filename='iiitb_logo.png') }}" alt="IIIT-B">
				</div>
				<div class="logo">
				<a href="/"><h2>Home</h2></a>
				</div>
				<div class="logo">
				<a href="/professor"><h2>Faculty</h2> </a>
				</div>
			</nav>

			<div class="timetable">
				<table class="table " id="timet">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">9:15 <br /> 10:45</th>
							<th scope="col">11:00 <br /> 12:30</th>
							<th scope="col">1:45 <br /> 3:15</th>
							<th scope="col">3:30 <br /> 5:00</th>
							<th scope="col">5:30 <br /> 7:00</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Monday</th>
							<td id="00"></td>
							<td id="01"></td>
							<td id="02"></td>
							<td id="03"></td>
							<td id="04"></td>
						</tr>
						<tr>
							<th scope="row">Tuesday</th>
							<td id="10"></td>
							<td id="11"></td>
							<td id="12"></td>
							<td id="13"></td>
							<td id="14"></td>
						</tr>
						<tr>
							<th scope="row">Wednesday</th>
							<td id="20"></td>
							<td id="21"></td>
							<td id="22"></td>
							<td id="23"></td>
							<td id="24"></td>
						</tr>
						<tr>
							<th scope="row">Thursday</th>
							<td id="30"></td>
							<td id="31"></td>
							<td id="32"></td>
							<td id="33"></td>
							<td id="34"></td>
						</tr>
						<tr>
							<th scope="row">Friday</th>
							<td id="40"></td>
							<td id="41"></td>
							<td id="42"></td>
							<td id="43"></td>
							<td id="44"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<footer>
				<div class="row">
				</br></br>
					<button class="button2" onclick="clearTT()"><span>Clear</span></button>
					<button  class="button2" onclick="addToCalendar()"><span>Download ICS</span></button>
					<div title="Add to Calendar" class="addeventatc">
						Add to Calendar
						<span class="start">06/03/2020 09:00 AM</span>
						<span class="end">06/03/2020 10:00 AM</span>
						<span class="timezone">India</span>
						<span class="title">Software Production Engineering</span>
						<span class="location">MCR106</span>
					</div>
				</div>
				<div id="details-div"></div>
			</footer>


		</div>
		<aside class="sidebar">
			<div class="Courses">
				<h1>Courses</h1>
				<div id="minor-div"></div>
			</div>
		</aside>
	</div>

</body>
<script src="{{ url_for('static', filename='mainScript.js') }}"></script>
</html>
