
<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
	<meta charset="UTF-8">
    <title>IIIT-B Time Table</title>
    <style>
    .link
      {
         color:white;
         text-decoration: none;
         background-color: none;
      }
    </style>
    <meta name="title" content="The International Institute of Information Technology Bangalore"/>
    <meta name="keywords" content="The International Institute of Information Technology Bangalore, IIITB, IIITBangalore"/>
    <meta name="description" content="The International Institute of Information Technology Bangalore"/>
    <base href="https://www.iiitb.ac.in/"/>
                    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="includes/images/favicon.ico"/>
    <link rel="stylesheet" href="includes/css/icons.min.css">
    <link rel="stylesheet" href="includes/css/bootstrap.min.css">
    <link rel="stylesheet" href="includes/css/basic-frame.css">
    <link rel="stylesheet" href="includes/css/style.css?v=279.15">
    <link rel="stylesheet" href="includes/css/homeBanner.css">
    <link rel="stylesheet" href="includes/css/responsive.css">
    <link rel="stylesheet" href="includes/css/owl.carousel.min.css">
    <link rel="stylesheet" href="includes/css/color.css" title="color" />
    <link rel="stylesheet" href="includes/css/list-landing.css?v=279.15" />
    <link rel="stylesheet" href="includes/css/liMarquee.css?v=1.1"/>
    <script src="includes/js/jquery.min.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160599818-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-160599818-1');
</script>
</head>
<body>
  <main>

    <header class="style3 stick">
      <div class="lg-mnu-sec2">
        <div class="container">
          <div class="logo"><a href="https://www.iiitb.ac.in/" title="IIITB TimeTable"><img src="includefiles/settings/iiitb_logo100x95.png" alt="IIIT Bangalore"></a></div><!-- Logo -->
          </div>
        </div>
    </header>


<!-- full image top-->
    <div class="container-fluid full-screen" style="height:320px;">
        <div class="row slider-fade" style="height:320px;">
            <div class="home-banners owl-carousel owl-theme width-100" style="height:320px;">
                <div class="text-center item bg-img" data-overlay-dark="5" data-background="includefiles/banners/iiitb-bangalore3.jpg" style="height:320px;">
                </div>
            </div>
        </div>
    </div>



<section>
    <div class="gap">
        <div class="container">
          <div class="col-md-12 offset-md-0 sec-tl text-center">
                <h2 itemprop="headline">IIIT-B Time Table</h2>
            </div>
            <div class="stories-wrap remove-ext3 stories">
                <div class="row">
                    <div class="MultiCarousel" data-items="1,2" data-slide="1" id="MultiCarousel"  data-interval="1000">
                        <div class="MultiCarousel-inner">
                            <div class="item">
                                <div class="story-box3" style="background-color:#015483">

                                    <div class="story-info3" style="background-color:#015483">
                                        <h3><a href="app/students">
                                          <div class="link">
                                            Students
                                          </div>
                                        </a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item" >
                                <div class="story-box3" style="background-color:#015483">

                                    <div class="story-info3" style="background-color:#015483">
                                        <h3 ><a href="app/faculty">
                                          <div class="link">
                                            Faculty
                                          </div>
                                        </a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="includes/js/owl.carousel.min.js"></script>
<script src="includes/js/custom-scripts.js?v=279.15"></script><!--full screen -->
<script src="includes/js/jquery.liMarquee.js"></script>
<script src="includes/javascripts/index.js?v=279.15"></script><!--background image-->
</body>
</html>
