<!DOCTYPE html>
<html>
    <head>
      <style>
        aside {
          width: 15%;
          padding-left: 15px;
          margin-left: 0px;
          float: right;
          font-style: italic;
          background-color: lightgray;
        }
      </style>
      <title>Find Your Professor</title>

    	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    	<!-- BOOTSTRAP -->

    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    		crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    		crossorigin="anonymous"></script>
    	<!-- JQUERY -->
    	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    		crossorigin="anonymous"></script>
    	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    	<!-- GOOGLE FONTS -->

    	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">


    	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>


    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
    	<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>

    	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="App">
          <div class="main-content">
            <nav>
              <div class="logo">
                <img src="{{ url_for('static', filename='iiitb_logo.png') }}" alt="IIIT-B">
              </div>
              <div class="logo">
                <a href="/"><h2>Home</h2></a>
              </div>
              <div class="logo">
                <a href="/professor"><h2>Faculty</h2> </a>
              </div>
            </nav>
            <div class="timetable">
              {% if not error %}
                  {% if name %}

                  <table class="table" id="timet">
                      <thead>
                          <tr>
                              {% for time in times %}
                              <th scope="col"> {{time}} </th>
                              {% endfor %}
                          </tr>
                      </thead>
                      <tbody>
                          {% for row in data %}
                          <tr>
                              {% for col in row %}
                              {% set outer_loop = loop %}

                              {% if col|length > 0 and outer_loop.index>1 %}
                                <td class="table-danger">
                                  {% else %}
                                <td>
                              {% endif %}
                                    {% for venue in col %}
                                    <div class="venue">
                                        {{ venue }}
                                       

                                    </div>
                                    {% endfor %}
                                </td>
                              {% endfor %}
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>

                  {% else %}
                    <table class="table" id="timet">
                      <thead>
                          <tr>
                              {% for time in times %}
                              <th scope="col"> {{time}} </th>
                              {% endfor %}
                          </tr>
                      </thead>
                      <tbody>
                          {% for row in data %}
                          <tr>
                              {% for col in row %}
                              {% set outer_loop = loop %}

                              <td class="col-md-1" style="padding: 0;">
                                  {% for venue in col %}
                                  <div class="venue">
                                      {{ venue }}
                                  </div>
                                  {% endfor %}
                              </td>
                              {% endfor %}
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>

                  {% endif %}

              {% endif %}

              {% if error %}
              <div style="margin-top: 4%; margin-bottom: 4%" class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="error-template text-center">
                              <h1>Oops!</h1>
                              <h2>Professor Not Found!</h2>
                              <div class="error-details">
                                      Sorry, we're unable to find the professor that you searched
                                      for! Check the spelling of the professor's name. If you are
                                      still unable to find their timetable, then ERP doesn't
                                      contain their data.
                              </div>
                              <script>
                                  document.getElementById("prof_query").focus();
                              </script>
                          </div>
                      </div>
                      <div class="col-md-3">
                      </div>
                  </div>
              </div>
              {% endif %}
              </div>

              <script>
                  var fullLink = window.location.href;
                  console.log(fullLink)
                  var splitLink = fullLink.split('=');
                  if (splitLink.length>1) {
                       searchQuery = splitLink[1].replace(/%20/g, " ");
                       var inputBox = document.getElementById("prof_query");
                       inputBox.value=searchQuery;
                       inputBox.focus();
                   }
              </script>

      {% if name %}
      <footer>
        <div class="row">
          <form action = "/ics_helper">
            <button class='button2'><span>Download as ics</span></button>
          </form>
        </div>
        <div id="details-div">
           <b> Name : </b> {{ name }} </br> <b> Dept: </b> {{ dept }}

        </div>
      </footer>
      {% endif %}
          </div>
          <aside class="sidebar">
            <style>
                h1, h2, h3, h4, h5, h6, h7{
                  font-weight: normal;
                }
            </style>
            <div class="container" style="margin-top:5px">
        			<div class="col">
                <div class="col-md-2">
                    <br>
                    <h4>
                    Select a name to see the weekly timetable of the
                    professor!
                    </h4>
                    {% if name %}
                        <input name="prof"  autocomplete="off"
                                            placeholder="Who are you looking for?"
                                            class="form-control" id="prof_query" value="{{name}}">
                    {% else %}
                        <input name="prof"  autocomplete="off"
                                            placeholder="Who are you looking for?"
                                            class="form-control" id="prof_query">
                    {% endif %}
                    <div id="suggestions">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
        			</div>
            </div>
      		</aside>

          </div>



        <script src="{{url_for('static', filename='scripts/autocomplete.js')}}"></script>
        <script>
            var datalist = [{% for prof in profs %} '{{prof}}', {% endfor %}];
            var worker = new Worker("{{url_for('static', filename='scripts/worker.js')}}");
            autocomplete(datalist, worker);
        </script>
    </body>
</html>
